@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lobster&family=Pacifico&family=Recursive:wght@300;400;500;700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,300;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,500;1,8..144,900&family=Satisfy&family=Spline+Sans+Mono:wght@300;400;500;700&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

body {
    background-image: url("../images/Picture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    font-family: 'Roboto Serif', serif;
    padding: 3rem 0;
}

/* .sign-cover {
    padding: 3rem 0;
    height: 100%;
} */


.sign-container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.sign {
    width: 100%;
    /* height: 100%; */
}

form {
    width: 100%;
    padding: 2rem 2rem 2.5rem 2rem;
}

.sign p {
    text-align: center;
    font-size: 17px;
}

input {
    width: 100%;
    padding: 1rem 0.2rem;
    margin-bottom: 0.5rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid purple;
    background: transparent;
    font-size: 17px;

}

input:focus {
    outline: 0;
}

.sign button {
    width: 100%;
    margin-bottom: 0.9rem;
    padding: 0.7rem;
    font-size: 15px;
}

.twitter,
.face {
    text-align: left;
}

.placement {
    position: relative !important;
    background-image: url("../Images/Flower.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 0 1rem;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.placement h1 {
    font-size: 39px;
    margin-bottom: 1rem;
}

.placement div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.placement-over {
    background-color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0;

}

.placement-over i {
    font-size: 1.5rem;
}

.placement-over button {
    background: linear-gradient(90deg, purple, rgb(182, 5, 182), rgb(228, 20, 183), rgb(226, 38, 138));
    border: none;
    color: white;
    letter-spacing: 0.2rem;
    margin-top: 0.5rem;
}

.placement-over h2 {
    margin-bottom: 0.7rem;
    font-size: 32px;
}

.twitter {
    background: linear-gradient(90deg, rgb(23, 214, 228), cyan) !important;
}

.face {
    background: linear-gradient(90deg, rgb(9, 105, 201), rgb(84, 165, 247)) !important;
}

.pass {
    margin-bottom: 2.5rem;
}

span a{
    text-decoration: 3px underline;
    text-underline-offset: 10px;
    margin-left: 0.7rem;
    color: red;
}

@media only screen and (max-width: 850px) {

    .sign-container{
        flex-direction: column;
    }

    body {
        height: auto;
    }

    .placement{
        height: 15rem;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }

    .placement-over{
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
    }

}